.hero {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/gradient_background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-title {
    font-size: 9rem;
    color: #ffffff;
    text-align: center;
}

.hero-desc {
    text-align: center;
    font-size: 1.5rem;
    color: #ffffff;
}