.about {
    //height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.about-title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5rem;
}


// need media query
.about-description {
    font-size: 1.5rem;
    text-align: center;
    margin: 0 15rem 5rem 15rem;
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 8rem));
    gap: 2rem;
    //justify-content: center;
    margin: 10rem;
    //align-items: center;
}